# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# conan, clang
.cache
build
compile_commands.json
CMakeUserPresets.json
tmp

# projext related
.vscode
zcc/src/ir/include/ir/location.hh
zcc/src/ir/include/ir/parser.hpp
zcc/src/ir/src/parser.cpp
zcc/src/ir/src/scanner.cpp
